/*
|--------------------------------------------------------------------------
| Edit bar
|--------------------------------------------------------------------------
| A global 'edit this thing' bar shown to logged-in admin users.
|
| @namespace: pg-
|
*/

.pg-EditBar {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: var(--Color_Body);
  color: #fff;
}

.pg-EditBar_Link {
  display: block;

  padding: 0.5vr var(--Grid_Inside);

  color: inherit;

  &::before {
    font-awesome: pencil;
  }
}
